@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/subset-MuseoSansCyrl-900.eot');
    src: url('../fonts/subset-MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-900.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/subset-MuseoSansCyrl-700.eot');
    src: url('../fonts/subset-MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/subset-MuseoSansCyrl-300.eot');
    src: url('../fonts/subset-MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/subset-MuseoSansCyrl-100.eot');
    src: url('../fonts/subset-MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MuseoSansCyrl-100.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}