.b-clients-logo {
    &__items {
        font-size: 0;
        border-left: 3px solid #f2f2f2;
    }
    &__item {
        font-size: 16px;
        height: 50px;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 3%;
        text-align: center;
        @include mn550 {
            height: 70px;
        }
        @include mn768 {
            height: 100px;
        }
        @include mn992 {
            height: 120px;
        }
        &:nth-child(8n+1),
        &:nth-child(8n+3),
        &:nth-child(8n+6),
        &:nth-child(8n+8) {
            background: #f2f2f2;
        }
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
        }
    }
    &__img {
        display: inline-block;
        vertical-align: middle;
    }
}

.b-clients-blocks,
.b-clients-block {
    margin: 30px 0;
}
.b-clients-block {
    padding-bottom: 30px;
    border-bottom: 2px solid #f2f2f2;
}

