.b-contacts {
    font-size: 0;
    &__item {
        margin-bottom: 20px;
        @include mn768 {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-right: 10px;
        }
    }
    &__icon {
        width: 74px;
        height: 74px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        background-color: #2b2d2e;
        background-image: linear-gradient(to top, #2b2d2e 0%, #414445 100%);
        border-radius: 5px;
        position: relative;
        text-align: center;
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 39px;
            height: 39px;
            background: url(../img/icons-bundle.png) center no-repeat;
            background-position: -190px -157px;
        }
        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
        }
        &_adr::before {
            background-position: -229px -157px;
            width: 22px;
            height: 35px;
        }
        &_email::before {
            background-position: -251px -157px;
            width: 27px;
            height: 21px;
        }
        &_time::before {
            background-position: -278px -157px;
            width: 29px;
            height: 31px;
        }
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        width: calc(100% - 95px);
        span {
            display: block;
            color: $color1;
            margin-top: 5px;
        }
        a {
            font-size: 20px;
            font-weight: 700;
            text-decoration: underline;
            @include mn768 {
                font-size: 24px;
            }

            &:hover {
                text-decoration: none;
            }
        }
        &_email a {
            color: $color1;
        }
    }
}

.b-contacts-social {
    font-size: 16px;
    margin: 30px 0;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 30px;
    @include mn768 {
        text-align: left;
    }
    &__caption {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        margin-bottom: 1em;
        width: 100%;
        @include mn768 {
            margin-right: 1em;
            margin-bottom: 0;
            width: auto;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        width: 44px;
        height: 44px;
        background: url(../img/icons-bundle.png) center no-repeat;
        &.social-icon-vk {
            background-position: 0 -197px;
        }
        &.social-icon-fb {
            background-position: -44px -197px;
        }
        &.social-icon-ok {
            background-position: -88px -197px;
        }
        &.social-icon-inst {
            background-position: -132px -197px;
        }
        &.social-icon-plus {
            background-position: -176px -197px;
        }
    }
}

#map {
    height: 250px;
    @include mn768 {
        height: 480px;
    }
}

.content_contacts,
.content_about {
    .b-managers .title-line {
        color: black;
    }
}

.b-page-contacts-imgs {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 30px;
}

.content_contacts {
    .content__title {
        font-weight: 900;
    }
}

.b-page-contacts-map {
    margin-bottom: 50px;
}