@charset "UTF-8";
.b-gallery-imgs_service {
    .b-gallery-imgs {
        &__item {
            @include mn768 {
                width: 33.33%;
            }
        }
        &__img {
            width: 250px;
            height: 170px;
            background-size: contain;
            @include mn768 {
                width: 100%;
            }
        }
    }
}

.b-bullet_benefits {
    .b-bullet {
        &__body {
            background: #f0f3f5;
            padding: 30px 0;
        }
        &__img-wrap {
            width: 140px;
            height: 140px;
        }
        &__img {
            background-image: url(../img/icons-bundle.png);
        }
        &__item {
            font-size: 18px;
            @include mn768 {
                width: 33.33%;
            }
            &_1 {
                .b-bullet__img {
                    background-position: -165px -90px;
                    width: 64px;
                    height: 64px;
                }
            }
            &_2 {
                .b-bullet__img {
                    background-position: -229px -90px;
                    width: 50px;
                    height: 47px;
                }
            }
            &_3 {
                .b-bullet__img {
                    background-position: -279px -90px;
                    width: 66px;
                    height: 66px;
                }
            }
        }
    }
}

.btns-wrap_service {
    text-align: center;
}

.btn_service {
    margin: 5px;
    width: 135px;
    @include mn768 {
        width: 215px;
        font-size: 18px;
        padding: 20px;
        margin: 5px 30px;
    }
}

.content-block_service {
    h3 {
        @include mn768 {
            font-size: 30px;
        }
    }
}

.b-accord_price-service {
    margin: 50px 0;
    .b-accord__item {
        background: #f2f2f2;
        border: 0;
        padding: 20px;
    }
    .b-accord__item:nth-child(odd) {
        background: white;
    }
    .b-accord__caption {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        @include mn768 {
            font-size: 30px;
        }
    }
    .b-accord__title {
        @include mn768 {
            font-size: 20px;
        }
    }
}

.b-interaction {
    background: #eceef1;
    margin: 50px 0;
    padding: 20px 10px;
    @include mn768 {
        padding: 30px;
    }
    .b-bullet__item {
        position: relative;
        @include mn768 {
            width: 25%;
        }
        &::after {
            display: none;
            content: '';
            position: absolute;
            right: -19px;
            top: 78px;
            width: 37px;
            height: 18px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAASCAMAAADrP+ckAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEUrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzgrMzj///8Df4mlAAAAH3RSTlMANrwUrtYaB7DeIQSl5SkDmeoxAYzvOn70RHL++GSS0k/orQAAAAFiS0dEILNrPYAAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABbSURBVCjPrZI3EoBQEELX/M36zZH739LWxoFC6jezLGD2qSCMjCtGknIqc8gLjpUV6oZjbYfec2wYMc3CCwvWTcD247zMIOgWKe3iD+6lJKRUpYa0trXlvFb4ADdyDc8LM4mzAAAAAElFTkSuQmCC');
            @include mn768 {
                display: block;
            }
        }
        &_2 .b-bullet__img {
            width: 46px;
            height: 46px;
            background-position: -55px 0;
        }
        &_3 {
            .b-bullet__img {
                width: 41px;
                height: 47px;
                background-position: -101px 0px;
            }
        }
        &_4 {
            &::after {
                @include mn768 {
                    display: none;
                }
            }
            .b-bullet__img {
                width: 41px;
                height: 41px;
                background-position: -142px 0px;
            }
        }
        &_5 .b-bullet__img {
            width: 48px;
            height: 48px;
            background-position: -183px 0px;
        }
        &_6 {
            .b-bullet__img {
                width: 45px;
                height: 45px;
                background-position: -231px 0px;
            }
        }
        &_7 {
            &::after {
                display: none;
            }
            .b-bullet__img {
                width: 45px;
                height: 51px;
                background-position: -276px 0px;
            }
        }
    }
    .b-bullet__num {
        width: 37px;
        height: 37px;
        font-size: 18px;
        top: -15px;
        right: -15px;
        line-height: 38px;
        background-color: #2b2d2e;
        background-image: linear-gradient(to top, #2b2d2e 0%, #414445 100%);
        box-shadow: none;
    }

    .b-bullet__img-wrap {
        width: 104px;
        height: 104px;
    }
    .b-bullet__img {
        background: url(../img/icons-bundle-service.png) top left no-repeat;
        width: 55px;
        height: 55px;
    }
    .b-bullet__txt {
        font-size: 13px;
        a {
            color: $color1;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.content_service {
    .b-content-more::after {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 100%);
    }
    .b-gallery-imgs__title {
        font-weight: 900;
    }
    .b-gallery-imgs__img {
        height: 200px;
    }
}